<!DOCTYPE html>
<html lang="en">
<head>
   <title> {% block title %}My Web Application{% endblock %}</title>
   <style>
   body{font-family:Arial, Helvetica, sans-serif; padding: 20px;}
   header,footer{background:#333;color: white; padding: 10px; margin-top:40px}
   nav a{margin: 0 10px ; color: white; text-decoration: none}
   main{
    background: white ;padding: 20px ; margin-top: 20px;border-radius: 5px;
   }
   </style>
</head>
<body>
    <header>
        <h2>Feedback Page</h2>
        <nav>
        <a href="/feedback" >Feedback</a>
        
        </nav>
    </header>
    <main>
    {%block content %}


    {% endblock %}
    </main>
    <footer>
        <p>@2025 ETERNAL SYSTEMS </p>
    </footer>
</body>
</html>