{% extends "base.html" %}

{% block title%} TASKS {% endblock %}

{% block content %}
<div class="task-box">
    <h2>YOUR TASKS</h2>
    <form action="{{ url_for('tasks.add_tasks')}}" method="post" class="task-form">
        <input type="text" name="title" placeholder="New Task" required>
        <button type="submit" class="btn">ADD</button>
    </form>
    {% if tasks%}
    <form action="{{ url_for('tasks.clear_tasks')}}" method="post" class="task-form">
         <button type="submit" class="btn btn-clear">CLEAR ALL TASKS</button>
    </form>
    <br>
    <table class="task-table">

        <thead>
            <tr>
                <th>TASK</th>
                <th>STATUS</th>
                <th>Change</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{task.title}}</td>
                <td>
                   <span class="badge {{ task.status|lower}}">{{task.status}}</span>
                </td>
                <td>
                    <form action="{{ url_for('tasks.toggle_status', task_id=task.id)}}" method="POST">
                      <button type="submit" class="btn-small">NEXT</button>
                    </form>
                    </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
<p>NO TASKS YET , ADD ONE TO PROCEED</p>
{% endif %}
</div>
{% endblock %}